header
{
    background-color: rgb(6, 6, 6);
    text-align: center;
    
    
}
section
{
    width: 800px;
    height: 500px;
    line-height: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.bigbox
{
    width: 600px;
    height: 400px;
    border: 3px solid rgb(17, 17, 17);
    margin-left: 850px;
    margin-top: -450px;
    border-radius: 20px;
}
    